@font-face {
  font-family: 'iconfont';  /* Project id 3272583 */
  src: url('//at.alicdn.com/t/font_3272583_3dgikdgj655.woff2?t=1649089822397') format('woff2'),
       url('//at.alicdn.com/t/font_3272583_3dgikdgj655.woff?t=1649089822397') format('woff'),
       url('//at.alicdn.com/t/font_3272583_3dgikdgj655.ttf?t=1649089822397') format('truetype'),
       url('//at.alicdn.com/t/font_3272583_3dgikdgj655.svg?t=1649089822397#iconfont') format('svg');
}

.iconfont { 
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}