@font-face {
  font-family: 'iconfont';  /* Project id 3272583 */
  src: url('//at.alicdn.com/t/font_3272583_gh9b64kpf3l.woff2?t=1649239217036') format('woff2'),
       url('//at.alicdn.com/t/font_3272583_gh9b64kpf3l.woff?t=1649239217036') format('woff'),
       url('//at.alicdn.com/t/font_3272583_gh9b64kpf3l.ttf?t=1649239217036') format('truetype'),
       url('//at.alicdn.com/t/font_3272583_gh9b64kpf3l.svg?t=1649239217036#iconfont') format('svg');
}

.iconfont { 
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}