@font-face {
  font-family: 'iconfont';  /* Project id 3272583 */
  src: url('//at.alicdn.com/t/font_3272583_kxpy26wsv1.woff2?t=1649425397966') format('woff2'),
       url('//at.alicdn.com/t/font_3272583_kxpy26wsv1.woff?t=1649425397966') format('woff'),
       url('//at.alicdn.com/t/font_3272583_kxpy26wsv1.ttf?t=1649425397966') format('truetype'),
       url('//at.alicdn.com/t/font_3272583_kxpy26wsv1.svg?t=1649425397966#iconfont') format('svg');
}

.iconfont { 
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}